body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: url('../imagenes/header.jpg') no-repeat center center/cover;
    padding: 100px 20px;
    color: black;
    height: 100vh;
}

.hero {
    margin-top: 200px;
}

.projects {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: auto;
}

.grid-container img {
    width: 100%;
}

.feedback {
    background: #4ebcbe;
    color: white;
    padding: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 2;
    text-align: left;
}

.about, .faq {
    margin-bottom: 20px;
}

.mapa img {
    width: 100%;
    max-width: 300px;
}

footer {
    background-color: #211f1f; /* Fondo gris */
    color: white;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.footer-container div {
    flex: 1;
}

.footer-bottom {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}


@media (max-width: 768px) {
    .info {
        flex-direction: column;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}
