/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background: url('../imagenes/header.jpg') no-repeat center center/cover;
    padding: 100px 20px;
    color: black;
    height: 100vh;
    font-size: 35px;
}

.hero {
    margin-top: 200px;
}

/* Sección de proyectos */
.proyectos {
    text-align: center;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}
 
.grid img {
    width: 200px;
    height: 200px;
}

/* Sección de feedback */
.feedback {
    background: #4ebcbe;
    color: white;
    padding: 20px;
}

/* Sección de información */
.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 2;
    text-align: left;
}

.about, .faq {
    margin-bottom: 20px;
}

/* Estilos del mapa */
.mapa img {
    width: 100%;
    max-width: 300px;
    height: 250px;
}

/* Estilos del pie de página */
footer {
    background-color: #211f1fa5; /* Fondo gris */
    color: rgb(250, 250, 250);
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.footer-container div {
    flex: 1;
}

.footer-bottom {
    background: rgb(5, 5, 5);
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .info {
        flex-direction: column;
        text-align: center;
    }

    .mapa img {
        max-width: 100%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}
